In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('US_Accidents_March23.csv')

In [ ]:
# in 500 dòng đầu
print(df.head(500))

        ID   Source  Severity           Start_Time             End_Time  \
0      A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
1      A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
2      A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
3      A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
4      A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07
..     ...      ...       ...                  ...                  ...
495  A-496  Source2         2  2016-03-04 08:33:12  2016-03-04 09:03:12
496  A-497  Source2         2  2016-03-04 10:17:30  2016-03-04 10:47:30
497  A-498  Source2         2  2016-03-04 11:15:47  2016-03-04 11:45:47
498  A-499  Source2         2  2016-03-04 11:50:40  2016-03-04 12:20:40
499  A-500  Source2         2  2016-03-04 14:55:55  2016-03-04 15:40:55

     Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  ... Roundabout  \
0    39.865147 -84.058723      NaN      NaN          0.01  ...      False
1    39.928059 -82.831184      NaN      NaN          0.01  ...      False
2    39.063148 -84.032608      NaN      NaN          0.01  ...      False
3    39.747753 -84.205582      NaN      NaN          0.01  ...      False
4    39.627781 -84.188354      NaN      NaN          0.01  ...      False
..         ...        ...      ...      ...           ...  ...        ...
495  40.089439 -83.036194      NaN      NaN          0.01  ...      False
496  39.735844 -84.121658      NaN      NaN          0.01  ...      False
497  39.764576 -84.187706      NaN      NaN          0.01  ...      False
498  39.747974 -84.215065      NaN      NaN          0.01  ...      False
499  39.747753 -84.205582      NaN      NaN          0.01  ...      False

    Station   Stop Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset  \
0     False  False           False          False        False          Night
1     False  False           False          False        False          Night
2     False  False           False           True        False          Night
3     False  False           False          False        False          Night
4     False  False           False           True        False            Day
..      ...    ...             ...            ...          ...            ...
495   False  False           False          False        False            Day
496   False  False           False           True        False            Day
497   False  False           False           True        False            Day
498   False  False           False          False        False            Day
499   False  False           False          False        False            Day

    Civil_Twilight Nautical_Twilight Astronomical_Twilight
0            Night             Night                 Night
1            Night             Night                   Day
2            Night               Day                   Day
3              Day               Day                   Day
4              Day               Day                   Day
..             ...               ...                   ...
495            Day               Day                   Day
496            Day               Day                   Day
497            Day               Day                   Day
498            Day               Day                   Day
499            Day               Day                   Day

[500 rows x 46 columns]

In [ ]:
# xác định các cột không cần thiết để loại bỏ
columns_to_drop = [
    'Source', 'End_Lat', 'End_Lng', 'Description', 'Country', 
    'Timezone', 'Airport_Code', 'Weather_Timestamp', 'Wind_Chill(F)', 
    'Pressure(in)', 'Wind_Direction', 'Amenity', 'Bump', 
    'Give_Way', 'No_Exit', 'Railway'
]

In [ ]:
# xóa các cột không cần thiết
df.drop(columns=columns_to_drop, axis=1, inplace=True)

In [ ]:
# hiển thị các cột còn lại
print(df.columns.tolist())

['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'Distance(mi)', 'Street', 'City', 'County', 'State', 'Zipcode', 'Temperature(F)', 'Humidity(%)', 'Visibility(mi)', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Crossing', 'Junction', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']